.solutions-title-block{
    width: 80%;
    margin: auto;
}

.swiper{
    height: 100vh !important;
}

.solutions-blocks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap !important; /* Permet aux éléments de passer à la ligne suivante */

}

 h2{
    color:#15CDD3;
  }


.solution-block{
    width: 50% !important; /* Définit la largeur de chaque élément à 50% du conteneur */
    box-sizing: border-box !important; /* Assure que padding et border sont inclus dans la largeur */
    padding: 10px !important; /* Ajoute un peu d'espace autour du contenu de chaque élément */
    font-size: 80% !important;
}

ul li, h5{
    list-style: none !important;
    text-align: left;
}

h5{
    margin-top: 4vh;
    color:#15CDD3;
}

/* Style de base pour la pagination */

  
  .swiper-pagination-bullet {
    width: 10px; 
    height: 10px;
    background-color: #fff; 
    opacity: 0.5;
    margin: 0 5px; 
  }
  
  .swiper-pagination-bullet-active {
    opacity: 1; /* Rend le point actif entièrement opaque */
    background-color: #15CDD3; /* Couleur de fond du point actif */
  }

  .swiper-button-next, .swiper-button-prev {
    background-image: none; /* Supprime l'image de flèche par défaut */
    color: rgba(0,0,0,0);
  }
  
  .swiper-button-next i, .swiper-button-prev i {
    font-size: 24px; /* Ajustez selon vos besoins */
    color: #15CDD3; /* Ajustez la couleur de l'icône */
  }

  .swiper-button-prev {
    top: 10px; /* Placez en haut du conteneur Swiper */
    left: 100%; /* Centrez par rapport à la largeur du conteneur */
    transform: translateX(-50%); /* Ajuste pour un centrage précis */
    width: auto; /* Ajuste selon le contenu */
    height: auto; /* Ajuste selon le contenu */
  }

  .swiper-button-next {
    bottom: 0; /* Placez en bas du conteneur Swiper */
    left: 100%; /* Centrez par rapport à la largeur du conteneur */
    transform: translateX(-50%); /* Ajuste pour un centrage précis */
    width: auto; /* Ajuste selon le contenu */
    height: auto; /* Ajuste selon le contenu */
  }
  